@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: rgb(211, 216, 232);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #f8f8f8;
}

#sticky-card-1 {
  --index: 1;
}

#sticky-card-2 {
  --index: 2;
}

#sticky-card-3 {
  --index: 3;
}

#sticky-card-4 {
  --index: 4;
}

.sticky-card {
  // padding-top: calc(var(--index) * 2.5rem);
  top: calc(var(--index) * 4rem);
}

.custom-list {
  list-style-type: none; /* Remove default bullet points */
}

.custom-list li {
  position: relative; /* Required for positioning the custom bullet */
  padding-left: 20px; /* Adjust the left padding as needed */
}

.custom-list li::before {
  content: "•"; /* Custom bullet symbol, you can change this to any other symbol */
  position: absolute;
  left: 0;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: rgb(10, 10, 10);
  color: #fff;
  font-size: 14px;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -50px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.blue-gradient_text {
  background-image: linear-gradient(to right,var(--tw-gradient-stops));
  --tw-gradient-from: #00c6ff var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(0 198 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: #0072ff var(--tw-gradient-to-position);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent
}

.pink-gradient-text {
  background: linear-gradient(to right, #f472b6, #ec4899, #db2777);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.green-gradient-text {
  background: linear-gradient(to right, #34d399, #10b981, #09845d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.orange-yellow-gradient-text {
  background: linear-gradient(to right, #f59e0b, #fbbf24, #fcd34d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
